{% # extensions/product-customizer-extension/blocks/app-block.liquid %}

<div id="product-customizer-container" 
     data-product-id="{{ product.id }}"
     data-template="{{ block.settings.template }}">
  {{ block.settings | json }}
</div>

{% schema %}
{
  "name": "Product Customizer",
  "target": "section",
  "javascript": "product-customizer.js",
  "stylesheet": "product-customizer.css",
  "templates": ["product"],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Customize Your Product"
    }
  ]
}
{% endschema %}

<div id="product-customizer-root" class="product-customizer">
  <h2>{{ block.settings.heading }}</h2>
  <!-- App content will be mounted here -->
</div>