<div 
  id="product-customizer-container" 
  class="product-customizer"
  data-product-id="{{ product.id }}"
  data-shop-domain="{{ shop.permanent_domain }}"
>
  <div id="customizer-root"></div>
</div>

{% schema %}
{
  "name": "Product Customizer",
  "target": "section",
  "stylesheet": "app.css",
  "javascript": "app.js",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Customize Your Product"
    }
  ]
}
{% endschema %}

<div id="product-customizer-root">
  <div class="product-customizer-container">
    {{ block.settings.heading }}
    <!-- Your app content will be mounted here -->
  </div>
</div> 