<div class="product-customizer-section">
  {% render 'product-customizer' %}
</div>

{% schema %}
{
  "name": "Product Customizer",
  "target": "section",
  "templates": ["product"],
  "presets": [
    {
      "name": "Product Customizer"
    }
  ]
}
{% endschema %}
