.preview-container {
  width: 100%;
}

.preview-container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.preview-container [class*='col-'] {
  padding-right: 12px;
  padding-left: 12px;
}

@media (max-width: 768px) {
  .preview-container [class*='col-'] {
    width: 100%;
  }
}

.form-check {
  margin-bottom: 0.5rem;
}

.form-check:last-child {
  margin-bottom: 0;
}